<div id="myCarousel" class="carousel slide main-page-carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <blockquote class = "pull-right main-carousel-paragraph">
        <p>Образованието е нова, което е оцеляло,след като онова, което е научено, бъде забравено.</p>
        <small>Б.Ф. Скинър</small>
      </blockquote>
    </div>
    <div class="item">
      <blockquote class = "pull-right">
        <p>Живей така, сякаш ще умреш утре. Учи така, сякаш ще живееш вечно.</p>
        <small>Ганди</small>
      </blockquote>
    </div>
    <div class="item">
      <blockquote class = "pull-right">
        <p>Учене без умисъл е загуба на време. Мислене без учене е смърт за интелекта.</p>
        <small>Конфуций</small>
      </blockquote>
    </div>
    <div class="item">
      <blockquote class = "pull-right">
        <p>Да знаеш, не е достатъчно - трябва и да прилагаш.<br> Да имап желание, не е достатъчно - трябва и да правиш.</p>
        <small>Гьоте</small>
      </blockquote>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>