<div class="well review-background-wrapper">
    <ul class = "unstyled">
        <li>
           <span>Name of material</span>
            <div class="btn-toolbar">
            <div class="btn-group pull-right">
                <a class="btn btn-mini btn-success" href="#"><i class="icon-thumbs-up icon-white"></i></a>
                <a class="btn btn-mini btn-danger" href="#"><i class="icon-thumbs-down icon-white"></i></a>
            </div>
        	</div>
           <p class="pull-right"><i class="icon-download-alt"></i>
            <a href="">Download</a>
            </p>
       </li>
    </ul>
</div>