<table class="table table-hover">
    <th>
		<td>Low</td>
		<td>Medium</td>
		<td>High</td>
	</th>
	<tr>
		<td>Helpfulness</td>
		<td><label class="radio inline"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>low</label></td>
		<td><label class="radio inline"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>medium</label></td>
		<td><label class="radio inline"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>high</label></td>
	</tr>
	<tr>
		<td>Easiness</td>
		<td><label class="radio inline"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>low</label></td>
		<td><label class="radio inline"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>medium</label></td>
		<td><label class="radio inline"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>high</label></td>
	</tr>
	<tr>
		<td>Interesting</td>
		<td><label class="radio inline"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>low</label></td>
		<td><label class="radio inline"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>medium</label></td>
		<td><label class="radio inline"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>high</label></td>
	</tr>
	<tr>
	<td>Workflow</td>
		<td><label class="radio inline"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>low</label></td>
		<td><label class="radio inline"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>medium</label></td>
		<td><label class="radio inline"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>high</label></td>
	</tr>
</table>