<div class="well review-background-wrapper" >
    <form class="form-submit-criteria">

    <table class="table table-hover table-rating">
        <tr>
            <td><span class="label label-important">Приложим</span></td>
            <td><label class="radio inline "><input type="radio" name="Helpfulness" id="optionsRadios1" value="1" checked><span class="badge badge-warning">1</span></label></td>
            <td><label class="radio inline"><input type="radio" name="Helpfulness" id="optionsRadios1" value="2" checked><span class="badge badge-warning">2</span></label></td>
            <td><label class="radio inline"><input type="radio" name="Helpfulness" id="optionsRadios1" value="3" checked><span class="badge badge-warning">3</span></label></td>
            <td><label class="radio inline"><input type="radio" name="Helpfulness" id="optionsRadios1" value="4" checked><span class="badge badge-warning">4</span></label></td>
            <td><label class="radio inline"><input type="radio" name="Helpfulness" id="optionsRadios1" value="5" checked><span class="badge badge-warning">5</span></label></td>
        </tr>
        <tr>
            <td><span class="label label-important">Лесен</span></td>
            <td><label class="radio inline "><input type="radio" name="Easiness" id="optionsRadios1" value="1" checked><span class="badge badge-warning">1</span></label></td>
            <td><label class="radio inline"><input type="radio" name="Easiness" id="optionsRadios1" value="2" checked><span class="badge badge-warning">2</span></label></td>
            <td><label class="radio inline"><input type="radio" name="Easiness" id="optionsRadios1" value="3" checked><span class="badge badge-warning">3</span></label></td>
            <td><label class="radio inline"><input type="radio" name="Easiness" id="optionsRadios1" value="4" checked><span class="badge badge-warning">4</span></label></td>
            <td><label class="radio inline"><input type="radio" name="Easiness" id="optionsRadios1" value="5" checked><span class="badge badge-warning">5</span></label></td>
        </tr>
        <tr>
            <td><span class="label label-important">Интереснен</span></td>
            <td><label class="radio inline "><input type="radio" name="Interesting" id="optionsRadios1" value="1" checked><span class="badge badge-warning">1</span></label></td>
            <td><label class="radio inline"><input type="radio" name="Interesting" id="optionsRadios1" value="2" checked><span class="badge badge-warning">2</span></label></td>
            <td><label class="radio inline"><input type="radio" name="Interesting" id="optionsRadios1" value="3" checked><span class="badge badge-warning">3</span></label></td>
            <td><label class="radio inline"><input type="radio" name="Interesting" id="optionsRadios1" value="4" checked><span class="badge badge-warning">4</span></label></td>
            <td><label class="radio inline"><input type="radio" name="Interesting" id="optionsRadios1" value="5" checked><span class="badge badge-warning">5</span></label></td>
        </tr>
        <tr>
            <td><span class="label label-important">Ясен</span></td>
            <td><label class="radio inline "><input type="radio" name="Clarity" id="optionsRadios1" value="1" checked><span class="badge badge-warning">1</span></label></td>
            <td><label class="radio inline"><input type="radio" name="Clarity" id="optionsRadios1" value="2" checked><span class="badge badge-warning">2</span></label></td>
            <td><label class="radio inline"><input type="radio" name="Clarity" id="optionsRadios1" value="3" checked><span class="badge badge-warning">3</span></label></td>
            <td><label class="radio inline"><input type="radio" name="Clarity" id="optionsRadios1" value="4" checked><span class="badge badge-warning">4</span></label></td>
            <td><label class="radio inline"><input type="radio" name="Clarity" id="optionsRadios1" value="5" checked><span class="badge badge-warning">5</span></label></td>
        </tr>
        <tr>
            <td><span class="label label-important">Натоварен</span></td>
            <td><label class="radio inline "><input type="radio" name="Workload" id="optionsRadios1" value="1" checked><span class="badge badge-warning">1</span></label></td>
            <td><label class="radio inline"><input type="radio" name="Workload" id="optionsRadios1" value="2" checked><span class="badge badge-warning">2</span></label></td>
            <td><label class="radio inline"><input type="radio" name="Workload" id="optionsRadios1" value="3" checked><span class="badge badge-warning">3</span></label></td>
            <td><label class="radio inline"><input type="radio" name="Workload" id="optionsRadios1" value="4" checked><span class="badge badge-warning">4</span></label></td>
            <td><label class="radio inline"><input type="radio" name="Workload" id="optionsRadios1" value="5"><span class="badge badge-warning">5</span></label></td>
        </tr>
    </table>
    </form>
    <button type="button" class="btn btn-warning pull-right askForCourse">Намери курс</button>
</div>

<script>
    $('.askForCourse').on(click, function () {
        $.ajax({
            type: "POST",
            url: "/Home/SubmitCriteria",
            data: $(".form-submit-criteria").serialize(),
            dataType: "html",
            context: this,
            success: function (msg) {
                $("#main_content").html(msg);
            }
        });
    });
</script>
