@import url("bootstrap.min.css");
@import url("bootstrap-responsive.min.css");
/*@import url("flatly.min.css");*/

.navbar-inner,
.nav,
nav
{
	height: 42px;
}

#rating-table,
#rating-table-teacher,
.search-bar
{
	float: right;
}

.hero-unit
{
	margin-top: 10px;
}

#rating-table,
#rating-table-teacher
{
	margin-top: -190px;
	width: 200px;
    height: 200px;
}

#rating-table td,
#rating-table0teacher td
{
	width: 96px;
	height: 20px;
	padding: 2px;
}

.progress
{
	margin: 0;
}

.type-class
{
	margin-left: 30px;
}

.courses-pulldown-button
{
	width:  100%;
	border-width: 0;
	text-align: left;
	margin: 0;
}

.review-background-wrapper
{
	margin-left: 100px;
	margin-right: 100px;
}

.hide-courses
{
	display: none;
}

.table-rating textarea
{
   resize: none;
   width: 100%;
}

.table-rating td
{
	height: 30px;
}

#slider-header h1
{
	width:80%;
	word-wrap: break-word;
}

#myCarousel,
#carousel-example-generic
{
	height: 200px;
}

#slider-table-model
{
	margin-left: 15%;
	margin-right: 15%;
	width: 100%;
}

#make-criteria
{
	width: 100%;
}

#table-compare
{
	width: 80%;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

.main-page-carousel
{
	height: 150px;
}

.main-page-carousel blockquote
{
margin-right: 100px;
margin-bottom: 30px;
margin-top: 40px;

}