<div class = "span2">
    <span class="label label-important">Курсове</span>
    <ul class = "unstyled">
        <li>
            <a href="#">Course</a>
        </li>
    </ul>
</div>  
<div class = "span8">

</div>