<h1>Name of Course</h1> 
<h2>Lecturer</h2>
<div class="text-info">
  <span class="label label-info">Credits:</span>
  <span>5</span>
  <span class="label label-info">Type:</span>
  <span>OKN</span>
</div>
<table id= "rating-table">
    <tr>
        <td><h4>Rating</h4></td>
        <td></td>     
    </tr>
    <tr>
        <td><h5>Helpfulness</h5></td>
        <td>
          <div class="progress progress-info">
          <div class="bar" style="width: 20%"></div>
      </div>
    </td>
    </tr>
    <tr>
        <td><h5>Easiness</h5></td>
         <td>
          <div class="progress progress-info">
          <div class="bar" style="width: 20%"></div>
      </div>
    </td>
    </tr>
    <tr>
        <td><h5>Interest</h5></td>
         <td>
          <div class="progress progress-info">
          <div class="bar" style="width: 20%"></div>
      </div>
    </td>
    </tr>
    <tr>
        <td><h5>Занимавка</h5></td>
         <td>
          <div class="progress progress-info">
          <div class="bar" style="width: 20%"></div>
      </div>
    </td>
    </tr>
</table>