@model List<List<DisciplineReviews.Models.CourseOverview>>

@foreach (List<DisciplineReviews.Models.CourseOverview> courses in Model)
{
    <ul class="unstyled">
        <li>
            <button class="btn btn-inverse courses-pulldown-button showCourses" type="button">@courses[0].Type</button>
            <ul class="hide-courses unstyled">
                <li>
                    @foreach(DisciplineReviews.Models.CourseOverview courseoverview in courses){
                        @Html.Action("_SingleCourse", courseoverview);
                    }
                </li>
            </ul>
        </li>
    </ul>
}

  <script>
    $(".showCourses").on("click",function(){
           $(this).next("ul").slideToggle();
        });
    </script>
