@model List<List<DisciplineReviews.Cours>>

@foreach (List<DisciplineReviews.Cours> courses in Model)
{
    if(courses.Count > 0){
        <ul class="unstyled">
            <li>
                <button class="btn btn-inverse courses-pulldown-button showCourses" type="button">@courses[0].Discipline.Type.Name</button>
                <ul class="hide-courses unstyled">
                    <li>
                        @foreach(DisciplineReviews.Cours course in courses){
                            var model = DisciplineReviews.Controllers.BusinessLogic.MapCourse(course);
                            @Html.Action("_SingleCourse", model);
                        }
                    </li>
                </ul>
            </li>
        </ul>
    }
}


<script>

$(".showCourses").on("click", function () {
           $(this).nextAll("ul").first().slideToggle();
    });
    $.ajax({
        type: "POST",
        url: "/Slider/_SliderView",
        dataType: "html",
        success: function (msg) {
            if (parseInt(msg) != 0) {
                $("#slider-header").html(msg);
            }
        }
    });
</script>
<script src="@Href("~/Scripts/load_review_page.js")"></script>
