@model IEnumerable<DisciplineReviews.Cours>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Action("_SingleCourse", DisciplineReviews.Controllers.BusinessLogic.MapCourse(item))
        </td>
    </tr>
}

<script>
    $(".showCourses").on("click",function(){
           $(this).next("ul").slideToggle();
        });
    </script>
    <script src="@Href("~/Scripts/load_review_page.js")"></script>