@model DisciplineReviews.Models.Course

<table>
	<tr>
		<td><h4>Rating</h4></td>
	</tr>
	<tr>
		<td><h5>Helpfulness</h5></td>
	</tr>
	<tr>
		<td><h5>Easiness</h5></td>
	</tr>
	<tr>
		<td><h5>Interest</h5></td>
	</tr>
	<tr>
		<td><h5>Interest</h5></td>
	</tr>
</table>