@model DisciplineReviews.Cours

<input type="hidden" name="courseId" id="courseId" value="@Model.CourseID">
<ul class="nav nav-tabs">
  <li class="active">
    <a href="#_Overview" class="loadTabContent"><img src="/img/description.png" height="30" width="30"/>Overview</a>
  </li>
  <li><a href="#_Reviews" class="loadTabContent"><img src="/img/reviews.png" height="30" width="30"/>Reviews</a></li>
  <li><a href="#_Materials" class="loadTabContent"><img src="/img/materials_icon.png" height="30" width="30"/>Materials</a></li>
  
</ul>

<div id="tab_content">@Html.Action("_CourseOverview", Model.CourseID)</div>

<script>
	$(".loadTabContent").on("click", function() {
	    var attr = $(this).attr('href');
	    attr = attr.replace("#_", "");
		$(this).parent().parent().find("li").removeClass("active");  
            $(this).parent().addClass("active");
		console.log(attr);
		$.ajax({
			type: "POST",
			url: "/Course/_Course" + attr,
			data: {
			    courseId: $("#courseId").attr("value")
			},
			context:this,
			success: function(msg){
				$("#tab_content").html(msg);
			}
		});
	});		
</script>

