@model DisciplineReviews.Models.Course
<div class="well review-background-wrapper" >
    <button class="btn pull-right btn-warning">Add review</button>
    <h3>User Name</h3>
    <p>Description</p>
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a class="btn btn-small btn-success" href="#"><i class="icon-thumbs-up icon-white"></i></a>
            <a class="btn btn-small btn-danger" href="#"><i class="icon-thumbs-down icon-white"></i></a>
        </div>
    </div>
</div>