<div class="well review-background-wrapper" >
    <h3>User Name</h3>
    <p>Description</p>
    <div class="btn-toolbar">
        <div class="btn-group">
            <a class="btn btn-small" href="#"><i class="icon-thumbs-up"></i></a>
            <a class="btn btn-small" href="#"><i class="icon-thumbs-down"></i></a>
        </div>
    </div>
</div>