@model DisciplineReviews.Models.Course

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#_Overview">Overview</a>
  </li>
  <li><a href="#_Reviews">Reviews</a></li>
  <li><a href="#_Materials">Materials</a></li>
  
</ul>

<div>@Html.Action("_CourseReview", Model.Id)</div>