@model DisciplineReviews.Cours

<p class="well review-background-wrapper" >
    Анотация на учебната дисциплина:</br>
Предмет на Небесната механика е пресмятане на траектариите на небесните тела: звезди,</br>
планети, спътници, астероиди.</br>
По принцип приемаме, че тези тела са материални точки с маса, равна на масата на</br>
Съответното тяло. Единствения физически закон, на който се позоваваме, е Законът на</br>
Нютон за всемирното привличане. </br>
Предварителни изисквания:</br>
Предполагат се знания от университетските курсове по ДИС и ОДУ.</br>
Очаквани резултати:</br>
Студентите да се научат да пресмятат орбитите на планетите от Слънчевата</br>
система.
</p>